body{
  font-family : "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding : 3% 15%;
}
h1{
  font-size: 3rem;
  line-height: 1.5;
}

/* NavBar */
.navbar{
  padding : 0 0 4.5rem 0;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.title-img{
  width: 60%;
  transform: rotate(25deg);
}
.feature{
  padding: 3.5rem 20%;
}
.feature p{
  color: #bf8f8f;
}

.feature-box{
  text-align: center;
}
.f-text{
  font-family: "Montserrat";
  size : 0.6rem;
}
.feature-logo{
  color: #cf8172;
  padding-bottom: 1.5rem;
}
.feature-logo:hover{
  color: #ff4c66;
}
